{
    "version":"2",
    "members":["A","B","C"],
    "report_title": "X团队 修复问题汇总",
    "report_fmt":"text",
    "rtc1":{
            "url":"111.html",
            "fix": ["table1"],
            "out": ["table3","table4"]
    },
    "rtc2":{
            "url":"222.html",
            "fix": ["table3"],
            "out": ["table5","table6"]
    }
}