{
    "version":"2",
    "members":["AAA","BB","C"],
    "report_title": "X团队 修复问题汇总",
    "report_fmt":"text",
    "report_file":"710Q_bugs_report",
    "rtc1":{
            "url":"111.html",
            "fix": ["table1"],
            "out": ["table3","table4"]
    },
    "rtc2":{
            "url":"222.html",
            "fix": ["table3"],
            "out": ["table5","table6"]
    }
}